@model Employee

@{
    ViewData["Title"] = Model.FirstName;
}

<h2>@Model.FirstName's Detail <a class="btn btn-primary" href="/Employee/index">Back to Employee List</a></h2>

<ul class="list-group list-group-flush">
  <li class="list-group-item">FirstName : @Model.FirstName</li>
  <li class="list-group-item">LastName: @Model.LastName</li>
  <li class="list-group-item">Address : @Model.Address</li>
  <li class="list-group-item">Salary : @Model.Salary</li>
</ul>
